<%- if can?(:read, comment) -%>
    <div>
      <p>
        <b><%= comment.commentor_name %></b> -
        <%= l comment.created_at %>
        <%- if comment.updated? -%>
            <i>
              - <%= t('comments.last_updated') %>: <%= l comment.updated_at %>
            </i>
        <%- end -%>
      </p>
      <p>
        <%= can?(:update,comment)? jeditable_field(:comment,:body,:object => comment) : h(comment.body) %>
      </p>
      <%- if can?(:destroy, comment) -%>
          <div>
            <%= link_to_if can?(:destroy,comment), t('destroy'), comment, :method => :delete, :confirm => t('confirm_destroy') %>
          </div>
      <%- end -%>
    </div>
<%- end -%>