<h1><%= t('people.index.title') %></h1>

<table>
  <tr>
    <th><%= t('activerecord.attributes.person.name') %></th>
    <th><%= t('activerecord.attributes.person.email') %></th>
    <th><%= t('activerecord.attributes.person.institution') %></th>
  </tr>

<% @people.each do |person| %>
  <tr>
    <td><%=h person.name %></td>
    <td><%=h person.email %></td>
    <td><%=h person.institution.try :name %></td>
    <%- if can? :modify, person -%>
      <td><%= link_to( t('Edit'), edit_person_path(person)) if can? :update, person %></td>
      <td><%= link_to( t('Destroy'), person, :confirm => t('confirm'), :method => :delete) if can? :delete, person %></td>
    <%- end -%>
  </tr>
<% end %>
</table>

<%- if can? :create, Person -%>
  <br />
  <%= link_to t('people.new_people'), new_person_path %>
<%- end -%>