<h1><%= t('.title') %></h1>

<%- if params[:goal_id]
      scope = [@goal, @aktion]
    else
      scope = @aktion
    end -%>

<%- semantic_form_for scope do |f| -%>
  <% f.inputs do  -%>
    <%= f.input :who, :collection => @people %>
    <%= f.inputs :what, :how, :why, :where, :begins_on, :ends_on %>
  <%- end -%>
  <%- f.buttons do -%>
    <%= f.commit_button %>
  <%- end -%>
<%- end -%>

<%= link_to t('Back'), @goal %>