<h1><%= t('actions.new.title') %></h1>

<%- if params[:goal_id]
      scope = [:goal, @aktion]
    else
      scope = @aktion
    end -%>

<%- semantic_form_for scope do |f| -%>
  <%- f.inputs do -%>
    <%= f.inputs :what, :how, :why, :where, :who-%>
    <%= f.input :begins_on, :as => :string, :input_html => {:class => 'datepicker'} %>
    <%= f.input :ends_on, :as => :string, :input_html => {:class => 'datepicker'} %>
  <%- end -%>
  <%- f.buttons do -%>
    <%= f.commit_button %>
  <%- end -%>
<%- end -%>