<h1><%= t('federations.index.title') %></h1>

<table>
  <tr>
    <th><%= t('federation.labels.name') %></th>
  </tr>

<% @federations.each do |federation| %>
  <tr>
    <td><%=h federation.name %></td>
    <%- if can? :modify, federation -%>
      <td><%= link_to t('Edit'), edit_federation_path(federation) %></td>
      <td><%= link_to t('Destroy'), federation, :confirm => t('confirm'), :method => :delete %></td>
    <%- end -%>
  </tr>
<% end %>
</table>

<br />

<%- if can? :create, Federation -%>
  <%= link_to t('federation.new_federation'), new_federation_path %>
<%- end -%>