<h1><%= t('federations.new.title') %></h1>

<% form_for(@federation) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit t('create') %>
  </p>
<% end %>

<%= link_to t('Back'), federations_path %>