<h1><%= t('goals.followup') %></h1>
<table>
  <tr>
    <th><%= t('followup.labels.valid_on') %></th>
    <th><%= t('followup.labels.value') %></th>
  </tr>
  <%- followups.each do |followup| -%>
    <tr>
      <td><%= l followup.valid_on %></td>
      <td><%= can?(:update,followup)? jeditable_field(:followup,:value,:object => followup) : "followup.value" %> <%=h goal.control_item %></td>
      <td><%= link_to(t('destroy'),goal_followup_path([@goal,followup]),:confirm => t('confirm_destroy'),:method => :delete) if can? :delete, followup %></td>
    </tr>
  <%- end -%>
</table>
