<style type="text/css">
  #goals {
    width: 100%;
  }
</style>

<table id="goals" border="1">
  <tr>
    <th></th>
    <th><%= t('goal.labels.institution') %></th>
    <th><%= t('goal.labels.objective') %></th>
    <th><%= t('goal.labels.control_item') %></th>
    <th><%= t('goal.labels.value_and_due_date') %></th>
    <th><%= t('goal.labels.responsable') %></th>
  </tr>

  <% goals.each do |goal| %>
    <tr>
      <td><%= h link_to_if(can?(:read, goal),goal.id_number,goal) %></td>
      <td><%=h goal.institution.try :name %></td>
      <td><%= can?(:update, goal)? jeditable_field( :goal, :objective, :object => goal ) : goal.objective %></td>
      <td><%= can?(:update, goal)? jeditable_field( :goal, :control_item, :object => goal) : goal.control_item %></td>
      <td><%= can?(:update, goal)? jeditable_field( :goal, :value, :object => goal ) : goal.value %> @ <%= l goal.due_on %></td>
      <td><%= h goal.responsable.try :name %></td>
      <td><%= h link_to_if(can?(:read, goal),t('detail'),goal) %></td>
      <td><%= link_to( t('Edit'), edit_goal_path(goal)) if can? :update, goal %></td>
      <td><%= link_to(t('destroy'), goal_path(goal), :method => :delete, :confirm => t('confirm')) if can? :destroy, goal %></td>
    </tr>
  <% end %>
</table>
