<style type="text/css">
  #goals {
    width: 100%;
  }
  .subtotal {
    font-weight:bold;
  }

  .not-my-goal {
      font-size: 0.75em;
  }

  .overdue {
      background-color: red;
  }
</style>

<table id="goals" border="1">
  <tr>
    <th></th>
    <th><%= t('goal.labels.institution') %></th>
    <th><%= t('goal.labels.objective') %></th>
    <th><%= t('goal.labels.control_item') %></th>
    <th><%= t('goal.labels.value_and_due_date') %></th>
    <th><%= t('goal.labels.responsable') %></th>
    <th><%= t('goal.labels.status') %></th>
    <th><%= t('goal.labels.progress') %></th>
  </tr>

  <% goals.each do |goal| %>
    <%- @overdue_goal = true if goal.overdue? -%>
    <tr class="<%="not-my-goal" if (!current_user.institution_id.nil? && goal.institution_id != current_user.institution_id)%> <%= "overdue" if goal.overdue? %>">
      <td><%= h link_to_if(can?(:read, goal),goal.id_number,goal) %></td>
      <td><%=h goal.institution.try :name %></td>
      <td><%= can?(:update, goal)? jeditable_field(:goal, :objective, :object => goal ) : goal.objective %></td>
      <td><%= can?(:update, goal)? jeditable_field(:goal, :control_item, :object => goal) : goal.control_item %></td>
      <td><%= can?(:update, goal)? jeditable_field(:goal, :value, :object => goal ) : goal.value %> @ <%= l goal.due_on %></td>
      <td><%= h goal.responsable.try :name %></td>
      <td><%= can?(:update,goal)? jeditable_field(:goal, :status, :object => goal, :type => 'select', :select_collection => "{'waiting':'waiting', 'in_progress':'in_progress', 'finished':'finished'}") : goal.status %></td>
      <td><%= can?(:update,goal)? jeditable_field(:goal, :progress, :object => goal) : goal.progress %></td>
      <td><%= h link_to_if(can?(:read, goal),t('detail'),goal) %></td>
      <td><%= link_to( t('Edit'), edit_goal_path(goal)) if can? :update, goal %></td>
      <td><%= link_to(t('destroy'), goal_path(goal), :method => :delete, :confirm => t('confirm')) if can? :destroy, goal %></td>
    </tr>
  <% end %>

  <!-- ONLY SHOW SUBTOTALS FOR root#show , very Insights specific -->
  <%- if !@goal.nil? && @goal.goal_id.nil? -%>
    <tr>
      <th colspan="5"><%= t('.subtotal') %></th>
    </tr>
    <%- @goal.implicit_goals.each do |k, v| -%>
      <tr class="subtotal">
        <td colspan="3"></td>
        <td><%= k %></td>
        <td><%= v %></td>
        <td></td>
      </tr>
    <%- end -%>
  <%- end -%>
</table>

<%- if @overdue_goal -%>
  <p class="overdue">
    <%= t('.overdue_tasks') %>
  </p>
<%- end -%>