<h1>
  <span title='<%= "#{@goal.value} #{@goal.control_item} @ #{l(@goal.due_on)}" %>'><%= @goal.id_number %> - <%=h @goal.objective %></span>
</h1>
<div>
  <%= link_to(h("<< #{t('Back')}"), @goal.goal.nil? ? goals_url : goal_url(@goal.goal)) %>
</div>

<!-- desdoblamiento de la directriz -->
<div id="subgoals">
  <%- unless @goal.children.empty? -%>
    <%= render :partial => 'table', :locals => {:goals => @goal.children } %> <%- # TODO if layout is cleaner @goal.descendants could be used intead of @goal.children -%>
  <%- end -%>
  <%- if can? :add_subgoals, @goal -%>
    <%= link_to(t('goals.add_subgoal'), new_goal_goal_path(:goal_id => @goal))  if @goal.aktions.empty? %>
  <%- end -%>
</div>

<!-- plan de acción de la directriz -->
<div id="action_plan">
  <%- unless @goal.aktions.empty? -%>
    <%= render :partial => 'aktions/table', :locals => {:aktions => @goal.aktions} %>
  <%- end -%>
  <%- if can? :add_actions, @goal -%>
    <%= link_to( t('goals.add_action'), new_goal_aktion_path(@goal) ) if @goal.goals.empty? %>
  <%- end -%>
</div>

<div id="followup">
  <%= render :partial => 'followups/table', :locals => { :followups => @goal.followups, :goal => @goal } %>
  <%= link_to(t('goal.add_followup'), new_goal_followup_path(:goal_id => @goal.id)) if can? :create, @goal => Followup %>
</div>

<div>
  <%- if can? :update, @goal -%>
    <%= link_to t('Edit'), edit_goal_path(@goal) %> |
  <%- end -%>
  <%- if can? :delete, @goal -%>
  <%= link_to( t('Destroy'), @goal, :confirm => t('confirm_destory'), :method => :delete ) %> |
  <%- end -%>
  <%= link_to t('Back'), goals_path %>
</div>

<div id="comments">
  <h1><%= t('comments.title') %></h1>
  <%- @goal.comments.each do |comment| -%>
      <%= render :partial => 'comments/comment', :locals => {:comment => comment} %>
  <%- end -%>
  <%- if can?(:create, Comment => @goal) -%>
      <%- semantic_form_for @goal.comments.new do |f| -%>
          <% f.inputs do %>
              <%= f.input :body, :input_html => { :size => "5x3"} %>
              <%= f.input :commentable_id, :as => :hidden %>
              <%= f.input :commentable_type, :as => :hidden %>
              <%= f.input :user_id, :as => :hidden, :value => current_user.id %>
          <%- end -%>

          <%- f.buttons do -%>
              <%= f.commit_button %>
          <%- end -%>
      <%- end -%>
  <%- end -%>
</div>