<style type="text/css">

  table {
    border: solid 1px;
    table-layout:auto;
    text-align:center;
  }

  tr {
    border: solid 1px;
  }

  td {
    border: solid 1px;
    max-width: 300px;
  }

  th {
    border: solid 1px;
  }

  .root {
    max-width:100px;
  }
</style>

<table id="year_plan">
  <tr>
    <th><%= t('goals.year_plan.subgoals') %></th>
    <%- @roots.each do |root| -%>
      <th class="root">
        <%= link_to_if can?( :read, root), "#{root.id_number}<br/>#{root.objective}", root %>
      </th>
    <%- end -%>
    <th><%= t('goal.labels.control_item') %></th>
    <th><%= t('goal.labels.value') %></th>
    <th><%= t('goal.labels.responsable') %></th>
    <th><%= t('goal.labels.due_on') %></th>
  </tr>
  <%- @subgoals.each do |goal| -%>
    <tr>
      <td><%= link_to_if can?(:read, goal), "#{goal.id_number}<br/>#{goal.objective}", goal %></td>
      <%- @roots.each do |root| -%>
        <td>
          <%- if goal.ancestors.include?(root)-%>
            <%= jeditable_field :goal, :incidence, {:object => goal, :type => :select, :select_collection => {1 => 'bajo',2 => 'medio',3 => 'alto'}.to_json} %>
          <%- else -%>
            -
          <%- end -%>
        </td>
      <%- end -%>
      <td><%=h goal.control_item %></td>
      <td><%= goal.value %></td>
      <td><%=h goal.responsable.try :name %></td>
      <td><%=l goal.due_on %></td>
    </tr>
  <%- end -%>
</table>