<style type="text/css">

  table {
    border: solid 1px;
    table-layout:auto;
    text-align:center;
  }

  tr {
    border: solid 1px;
  }

  td { border: solid 1px;}

  th {
    border: solid 1px;
  }

  .root {
    max-width:100px;
  }
</style>

<table id="year_plan">
  <tr>
    <th><%= t('goals.year_plan.subgoals') %></th>
    <%- @roots.each do |root| -%>
      <th class="root">
        <%= root.id_number %><br/>
        <%= root.objective %>
      </th>
    <%- end -%>
    <th><%= t('goal.labels.control_item') %></th>
    <th><%= t('goal.labels.value') %></th>
    <th><%= t('goal.labels.responsable') %></th>
    <th><%= t('goal.labels.due_on') %></th>
  </tr>
  <%- @subgoals.each do |goal| -%>
    <tr>
      <td><%= goal.id_number %> - <%= goal.objective %></td>
      <%- @roots.each do |root| -%>
        <td>
          <%- if goal.goal == root-%>
            <%= root.incidence  %>
        <%- else -%>
          0
        <%- end -%>
        </td>
      <%- end -%>
      <td><%=h goal.control_item %></td>
      <td><%= goal.value %></td>
      <td><%=h goal.responsable.try :name %></td>
      <td><%=l goal.due_on %></td>
    </tr>
  <%- end -%>
</table>