<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title><%= @page_title ||= t('page_title') %></title>
  <%= javascript_include_tag 'jquery-1.4.2.min', 'jquery-ui-1.8.5.custom.min', 'jquery.jeditable', 'highcharts'  %>
  <%= stylesheet_link_tag('humanity/jquery-ui-1.8.5.custom') %>
  <%= formtastic_stylesheet_link_tag %>
  <%= javascript_include_tag 'application' %>
</head>
<body>
  <%= drc_top_bar(logout_url) %>
  <div id="container">
    <div id="navbar">
      <span>
        <%= link_to(t('navbar.goals'), goals_url) if can? :read, Goal %>
        <%= link_to(t('navbar.overdue_goals'), overdue_goals_url) if can? :read, Goal %>
        <%= link_to(t('navbar.year_plan'), year_plan_goals_url) if can? :see, :year_plan %>
        <%= link_to(t('navbar.users'), users_url) if can? :read, User %>
        <%= link_to(t('navbar.institution'), federations_url) if can? :read, Federation %>
        <%= link_to(t('navbar.people'), people_url) if can? :read, Person %>
      </span>
      <span style="float:right;">
        <%= link_to t('user.profile'), profile_user_path(current_user) if can? :profile, current_user %> -
        <%= current_user.role || "-" %> |
        <%= current_institution.try(:name) %>
      </span>
    </div>
    <div id="notices">
      <%= success_widget(flash[:success]) %>
      <%= notice_widget(flash[:notice]) %>
      <%= alert_widget(flash[:error]) %>
    </div>
    <%= yield %>
  </div>
</body>
</html>