<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title><%= @page_title ||= t('page_title') %></title>
  <%= javascript_include_tag 'jquery-1.4.2.min', 'jquery-ui-1.8.5.custom.min', 'jquery.jeditable', 'highcharts'  %>
  <%= stylesheet_link_tag('humanity/jquery-ui-1.8.5.custom') %>
  <%= formtastic_stylesheet_link_tag %>
  <%= javascript_include_tag 'application' %>
</head>
<body>
  <%= drc_top_bar(logout_url) %>
  <div id="container">
    <div id="navbar">
      <span>
        <%= link_to(t('navbar.tree'), tree_goals_url) if can?(:see_tree, Goal) %>
        <%= link_to(t('navbar.goals'), goals_url) if can? :read, Goal %>
        <%= link_to(t('navbar.overdue_goals'), overdue_goals_url) if can? :read, Goal %>
        <%= link_to(t('navbar.year_plan'), year_plan_goals_url) if can? :see, :year_plan %>
        <%= link_to(t('navbar.users'), users_url) if can? :read, User %>
        <%= link_to(t('navbar.institution'), federations_url) if can? :read, Federation %>
        <%= link_to(t('navbar.people'), people_url) if can? :read, Person %>
      </span>
      <span style="float:right;">
        <%- if can? :profile, current_user -%><a href="#" id="change_locale_link"><%= t('change_locale') %></a><%- end -%>
        <%= current_user.role || "-" %> |
        <%= current_institution.try(:name) %>
      </span>
    </div>
    <div id="notices">
      <%= success_widget(flash[:success]) %>
      <%= notice_widget(flash[:notice]) %>
      <%= alert_widget(flash[:error]) %>
    </div>
    <%= yield %>
    <div id="footer">
      <%- if can? :profile, current_user -%>
      <div id="locale_form" style="background-color:#adff2f;">
        <% semantic_form_for current_user, :method => :put do |f| %>
            <%= f.input(:locale, :label => "", :collection => LOCALES, :include_blank => false) %>
            <%= f.commit_button t('change_locale') %>
        <%- end -%>
      </div>
      <script type="text/javascript">
        $('#locale_form').hide();
        $('#change_locale_link').click(function(){
            $('#locale_form').show();
        });
      </script>
      <%- end -%>
    </div>
  </div>
</body>
</html>
