<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title><%= @page_title ||= "guidelines" %></title>
  <%= javascript_include_tag 'jquery' %>
  <%= formtastic_stylesheet_link_tag %>
</head>

<body>
  <%= drc_top_bar(logout_url) %>
  <div id="container">
    <div id="navbar">
      <span>
        <%= link_to(t('navbar.goals'), goals_url) if can? :read, Goal %>
        <%= link_to(t('navbar.users'), users_url) if can? :read, User %>
        <%= link_to(t('navbar.institution'), federations_url) if can? :read, Federation %>
        <%= link_to(t('navbar.people'), people_url) if can? :read, Person %>
      </span>
      <span style="float:right;">
        <%= current_user.role || "-" %> |
        <%= current_institution.try(:name) %>
      </span>
    </div>
    <div id="notices">
      <%= notice %>
    </div>
    <%= yield %>
  </div>
</body>
</html>
